.vscode
/bin/test_metadata
/bin/test_node_superpeer
/bin/test_transfer_negative
/bin/peer
/bin/superpeer
/.peer_storage/
/.superpeer_storage/
/.deps/
/bin/test_storage_atomic
/bin/test_chord
bin/test_membership
bin/test_control
tests/c1/logs/node_*.log
